.project-page{
    background-color: #1e272e;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.card, .card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 60vh;
    background-color: #34495e;
}

@media (max-width: 576px) {
    .card, .card1{
        width: 60vw;
        height: 50vh;
    }
    .card h1{
        font-size: 16px;
    }
  }
