.project {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper {
  margin: 10px;
  width: 25vw;
  height: 70vh;
  transition: 0.5s;
}

.wrapper:hover img{
  opacity: 100% !important;
}

.article{
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  display: none;
}

.child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.child img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.show.calc {
  width: 25vw;
  height: 80vh;
  transform: translateX(300px);
}

.article.show{
  display: block;
}

.show.mnote {
  width: 25vw;
  height: 80vh;
  transform: translateX(300px);
}
.show.not {
  width: 60vw;
  height: 50vh;
  transform: translateX(300px);
}
.show.foru {
  width: 60vw;
  height: 50vh;
  transform: translateX(300px);
}

.show {
  display: block !important;
}
.show img {
  opacity: 100%;
  object-fit: fill;
  cursor:default;
}
.notShow {
  display: none;
}

.closebt button{
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}